*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #edf3f2;
}
.container{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}
.navbar-container{
    margin: 0 20px;
}

header{
    position: relative;
    background-color: #FFB408;
    /* background-color: #0D0D0D; */
    /* color: #3F4041; */
    color: #0D0D0D;
    padding: 1em 0;
    border-radius: .5rem;
}

header::after{
    content: '';
    clear: both;
    display: block;
}

.logo{
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: #555;
}

.logo span{
    background-color: #edf3f2;
    padding: .5px 5px;
    border-radius: .5rem;
    font-weight: 400;
}
.navbar{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.884);
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.navbar--open{
    clip-path: circle(250% at top right);
}
.navbar li{
    border-bottom: 1px solid black;
}
.navbar li:last-child{
    border-bottom: none;
}
.navbar a{
    color: white;
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
}
.navbar a:hover,
.navbar a:focus{
    background-color: #ffb508c5;
    color: whitesmoke;
    border-radius: .5rem;
}
.navbar--icon{
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 1em;
    width: 1.1em;
    text-align: center;
    color: #a1a1a1f1;
}
.navbar-toggle{
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}
.hamburger::before{
    transition: translateY(-6px);
}
.hamburger::after{
    transition: translateY(3px);
}
.open .hamburger{
    transform: rotate(45deg);
}
.open .hamburger::before{
    opacity: 0;
}
.open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}
/*  */
q{
    color: tomato;
}
blockquote{
    font-size: 1.5em;
    position: relative;
    padding: 1.5em;
    background-color: #ece0d834;
    color: #FF7862;
    z-index: -1;
}
blockquote::before {
    content: open-quote;
    position: absolute;
    font-size: 8.5em;
    opacity: 0.5;
    left: -2rem;
    top: -3.5rem;
}
.main-para{
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 2rem;
}
p{
    padding: .25rem 0;
}
hr{
    width: 5rem;
}
@media (min-width: 700px) {
    .navbar-toggle{
        display: none;
    }
    .navbar{
        height: auto;
        position: relative;
        background-color: transparent;
        float: right;
        clip-path: initial;
    }
    .navbar li{
        display: inline-block;
        border: none;
    }
    .navbar a{
        padding: 0;
        margin-left: 1rem;
    }
    .navbar a:hover{
        background-color: transparent;
    }
    .navbar--icon{
        display: none;
    }
}